.board-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    max-width: 1300px;
}

.card {
    flex: 1 0 21%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:flex-end; */
    background-color: white;
    border: 1.5px solid rgb(128, 128, 128);
    width: 380px;
    height: 130px;
    margin: 10px;
}

.title {
    color: black;
    height: 30%;
    font-size: 100%;
    border-radius: 5px;
}

.board-link {
    text-decoration: none;
}

.board-teams {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 65%;
    width: 65%;
    border-right: 1.5px solid gray;
    text-align: left;
    padding-left: 10%;
}

.board-price {
    width: 35%;
}

.board-card-text{
    margin: 0px;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* color: rgb(189, 193, 198); */
    color: black;
}

.board-card-text-2 {
    font-family: Roboto, arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    /* color: rgb(189, 193, 198); */
    color: black;
}