.show-page {
    /* position: absolute; */
    display:flex;
    /* width: 100%; */
    position: relative;
    overflow: auto;
    /* overflow-x: auto; */
    align-items: center;
    justify-content: center;
    
    min-width: 960px;
}

.show-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* overflow: auto; */
    padding-left: 20px;
}

table {
    background-color: white;
    border-radius: 15px;
    padding: 2px;
}

th {
    background-color: black;
    color: white;
    min-width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 30px;
}

td {
    text-align: center;
    margin: 0px;
}

.outline-text {
    margin: 5px;
    font-family: 'Staatliches', cursive;
    -webkit-text-stroke: .05px white;
    font-size: 50px;;
}

.span-outline {
    color: #FA532E;
    -webkit-text-stroke: 1px black;
}

.outline-text-2 {
    margin-left: 90px;
    color: red;
    font-family: 'Staatliches', cursive;
    -webkit-text-stroke: .03px black;
    font-size: 25px;;
}