.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar styling */
.navbar {
  /* width: 100vw; */
  height: 60px;
  /* display: block; */
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: flex-end;
  /* background-color: blue; */
}

.nav-btn {
  height: 40px;
  width: 100px;
  border-radius: 40px;
  font-size: 100%;
}

/* .submit {
  height: 40px;
  width: 100px;
  border-radius: 40px;
  font-size: 100%;
} */

.centered {
  position: fixed;
  font-size: 55px;
  top: 0%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.nav-btn-2 {
  height: 40px;
  width: 120px;
  border-radius: 40px;
  font-size: 100%;
}

.nav-link {
  text-decoration: none;
  color: white;
}

/* nav > button:hover:not(.active) {
  color: white;
  background-color: #00B7FF;
} */

nav > button.active {
  color: white;
  background-color: #00B7FF;
  /* cursor: default; */
}